<p>user works!</p>
<div class="container col-lg-6">
        <h1 class="text-center">Login2</h1>
        
        
        <div class="card">
            <div class="card-body">
                <tr *ngFor = "let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <tr *ngFor = "let role of user.roles">
                            <td><input type="checkbox" checked>{{role.name}}</td>
                        </tr>
                    </td>
                </tr>
                    
                <tr *ngIf = "!users">
                    <td colspan = "3">Loading... Please wait....</td>
                </tr>
                <tr *ngIf = "users && users.length == 0">
                    <td colspan = "4">No records found!</td>
                </tr>
                            


            </div>
        </div>
    
    </div>
    