<div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
        <div class="card-body">
            <form class="form-group">
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
            <div class="form-group">
                <label for="email">User Name :</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name"
                name="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
                name="password">
            </div>
            <button (click)=handleLogin() class="btn btn-success">Login</button>
            
            <br/>
            <button (click)=testLogin() class="btn btn-success">TestLogin</button>
            <br/>
            <button (click)=test2Login() class="btn btn-success">Test2Login</button>
            </form>
        </div>
    </div>
</div>

<div class="container col-lg-6">
        <h1 class="text-center">Login2</h1>
        
        
        <div class="card">
            <div class="card-body">
                <tr *ngFor = "let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <tr *ngFor = "let role of user.roles">
                            <td><input type="checkbox" checked>{{role.name}}</td>
                        </tr>
                    </td>
                </tr>
                    
                <tr *ngIf = "!users">
                    <td colspan = "3">Loading... Please wait....</td>
                </tr>
                <tr *ngIf = "users && users.length == 0">
                    <td colspan = "4">No records found!</td>
                </tr>
                            


            </div>
        </div>
    
    </div>
    